@import url('normalize.css');
@import '../../public/fonts.css';

body::-webkit-scrollbar {
  width: 0 !important;
}
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background: #fafafa;
  color: #fafafa;
  font-family: 'Unbounded', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --header-bg: rgba(255, 255, 255, 0.6);
  --header-border: rgba(0, 0, 0, 0.1);

  --accent-color-light: #334cdc;
  --accent-color-dark: #182da8;
  --accent-color-hover: #1c35c2;

  --light-color: #fafafa;
  --dark-color: #252732;

  --border-radius: 50px;

  --transition: 0.35s;
}

@media (min-width: 1500px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 300px) and (max-width: 599px) {
  html {
    font-size: 6px;
  }
}
