@import url('normalize.css');
@import '../../public/fonts.css';

body {
  background: #fafafa;
  color: #252732;
}

h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --header-bg: rgba(255, 255, 255, 0.6);
  --header-border: rgba(0, 0, 0, 0.1);

  --accent-color: #334cdb;
  --accent-color-hover: #2539b3;

  --color-text-light: #fafafa;

  --color-text-dark: #252732;
  --color-border: #252732;

  --border-radius-lg: 80px;
  --border-radius-sm: 50px;

  --transition: 0.35s;

  --font-heading: 'Onder', sans-serif;
  --font-body: 'Unbounded', sans-serif;
}

@media (min-width: 1500px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1000px) and (max-width: 1499px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  html {
    font-size: 6.5px;
  }
}
