@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@font-face {
  font-family: 'Onder', sans-serif;
  src: url('./Onder-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.custom-font {
  font-family: 'Undounded', Arial, sans-serif;
}
